section.article
	.container
		.article-text.common-text
			span.article-text__title.common-text__title Популярные статьи
			span.article-text__description.common-text__description Представляем вашему внимания наиболее популярные статьи
		.article-items
			.artcle-item
				.article-head
					span.article-head__name Ваз 2110
					span.article-head__title Выработка оси и шестерней сателлитов
					span.article-head__part Похожие статьи
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							each link,title in article.vaz2110
								li
									a(href= link title= title).article-nav__link= title
			.artcle-item
				.article-head.active
					span.article-head__name Ваз 2109
					span.article-head__title Диагностика подвески автомобиля
					span.article-head__part Похожие статьи
					span.article-head__active Наиболее популярные
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							each link,title in article.vaz2109
								li
									a(href= link title= title).article-nav__link= title
			.artcle-item
				.article-head
					span.article-head__name Ваз Piora
					span.article-head__title Признаки износа и поломки сцепления
					span.article-head__part Похожие статьи
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							each link,title in article.vazPriora
								li
									a(href= link title= title).article-nav__link= title
