.categories
	padding 80px 0
	background-color grayColor
	
	.container
		display flex
		align-items center
		justify-content space-between

.categories-nav
	margin-right 100px
	
	&__item
		display flex
		justify-content center
		align-items center
		padding 35px 20px
		background-color blackColor
		white-space nowrap
		color white
		cursor pointer
		margin-bottom 1px
		font-size rem(15)
		font-weight 700
		
		&:last-child
			margin-bottom 0
			
		&.is-active
			transition .3s ease-in-out
			background-color #ff8c2d

.categories-tab
	width 100%

.tab-item
	display none
	justify-content space-between
	align-items center
	transition .3s ease-in-out
	
	&.is-active
		display flex
		
	&__img
		display block
		width 350px
		
		&--offset
			width 280px
			margin-right 40px

.tab-info
	max-width 480px
	width 100%
	margin-right 50px
	
	&__title
		font-size rem(20)
		font-weight 700
		font-family boldFont
		margin-bottom 50px
		
	&__description
		font-size rem(14)
		color darkGrayColor
		margin-bottom 50px
		
		&--offset
			display block
			margin-top 20px