.contact
	padding 60px 0px

.form-info-inner
	display flex
	margin-bottom 40px
	
.contact-form
	
	.tab-button
		display block
		margin auto
		
.form-info
	margin-right 30px
	
	input
		margin-bottom 30px
		max-width 530px
		width 100%
		border none
		border-bottom 1px solid lightGrayColor
		padding 10px 0 10px 10px
		
		&:last-child
			margin-bottom 0
		
		&:focus::-webkit-input-placeholder
			color transparent
		&:focus::-moz-placeholder
			color transparent
		&:focus:-moz-placeholder
			color transparent
		&:focus:-ms-input-placeholder
			color transparent
	
	&__text
		max-width 530px
		width 100%
		border none
		border-bottom 1px solid lightGrayColor
		font-size rem(14)
		outline none
		line-height 25px
		padding 10px 0 10px 10px
		
		&:focus::-webkit-input-placeholder
			color transparent
		&:focus::-moz-placeholder
			color transparent
		&:focus:-moz-placeholder
			color transparent
		&:focus:-ms-input-placeholder
			color transparent
		
::-webkit-input-placeholder 
	color #cecece
::-moz-placeholder         
	color #cecece
:-moz-placeholder           
	color #cecece
:-ms-input-placeholder 
	color #cecece