.feedback
	background url("../img/content/feedback-banner.jpg") no-repeat center center
	background-size cover
	padding 65px 0px
	
	.info-button
		margin auto
		display block
		
.feedback-text
	margin-bottom 40px
	
	&__title
		color white 
		margin-bottom 30px
		
		&:after
			background-color white
			margin-top 20px
	&__description
		font-size rem(16)