extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	section.main-banner
		.container
			.info
				h1.info__title  Info#[span.info__title--selected Avto]24
				span.info__quote Автомобиль - не роскошь, роскошь - детали к нему
				p.info__description На нашем сайте вы найдете много полезной и интересной информации как и об самих автомобилях, так и об уходе за ними. Вам больше не нужно платить за ремонт, мы поможем сделать вам его бесплатно.
				button.info-button Читать больше
			.advice
				.advice-text
					span.advice-text__title.advice-text__title--selected Бесплатная 
						span.advice-text__title консультация
				form.advice-form
					input(type="text" placeholder="Имя").advice-form__inpt.advice-form__inpt--name
					input(type="text" placeholder="Email").advice-form__inpt.advice-form__inpt--email
					input(type="text" placeholder="Телефон").advice-form__inpt.advice-form__inpt--tel
				button.advice-button Получить
	section.social
		.container
			.social-text
				span.social-text__title Социальные сети
				span.social-text__description Присоединяйтесь к нашим социальным сетям, там вы сможете найти еще много полезной информации.
			.social-nav
				ul.social-nav__list
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("vk")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("twitter")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("telegram")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("facebook")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("pinterest")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("instagram")
	section.categories
		.container
			.categories-nav
				ul.categories-nav__list
					li.categories-nav__item.is-active Раздел 1
					li.categories-nav__item Раздел 2
					li.categories-nav__item Раздел 3
					li.categories-nav__item Раздел 4
			.categories-tab
				.tab-item.is-active
					.tab-info
						h2.tab-info__title Ремонт подвески автомобиля
						p.tab-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
							span.tab-info__description--offset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
						button.tab-button Читать больше
					img(src="static/img/content/tab-suspension.jpg", alt="Ремонт подвески автомобиля").tab-item__img
				.tab-item
					.tab-info
						h2.tab-info__title Ремонт механической коробки передач
						p.tab-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
							span.tab-info__description--offset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
						button.tab-button Читать больше
					img(src="static/img/content/tab-transmission.jpg", alt="Ремонт механической коробки передач").tab-item__img
				.tab-item
					.tab-info
						h2.tab-info__title Ремонт тормозной системы
						p.tab-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
							span.tab-info__description--offset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
						button.tab-button Читать больше
					img(src="static/img/content/brake-system.jpg", alt="Ремонт тормозной системы").tab-item__img
				.tab-item
					.tab-info
						h2.tab-info__title Ремонт сцепления
						p.tab-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
							span.tab-info__description--offset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
						button.tab-button Читать больше
					img(src="static/img/content/tab-clutch.jpg", alt="Ремонт сцепления").tab-item__img.tab-item__img--offset

