extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolor ipsa totam accusantium nulla ad dolorum? Voluptate natus saepe itaque maxime consequatur libero excepturi voluptas quisquam, odit, voluptatum tenetur incidunt!
	span orem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolor ipsa totam accusantium nulla ad dolorum? Voluptate natus saepe itaque maxime consequatur libero excepturi voluptas quisquam, odit, voluptatum tenetur incidunt!
	span orem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolor ipsa totam accusantium nulla ad dolorum? Voluptate natus saepe itaque maxime consequatur libero excepturi voluptas quisquam, odit, voluptatum tenetur incidunt!
	a orem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolor ipsa totam accusantium nulla ad dolorum? Voluptate natus saepe itaque maxime consequatur libero excepturi voluptas quisquam, odit, voluptatum tenetur incidunt!