extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include index/main-banner
	include index/social
	include index/categories
	include index/article
	include index/advantage
	include index/comment
	include index/feedback
	include index/contact
