extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include ../modules/main-banner
	include ../modules/social
	include ../modules/categories
	include ../modules/advantage
	include ../modules/article
	include ../modules/comment
	include ../modules/feedback
	include ../modules/contact
