mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)



mixin article(text, href)
	li
		a.article-nav__link(href=href || "javascript:void(0);" title= text)= text