footer
	background-color black
	padding 20px 0 12px 0
	flex 0 0 auto
	
	.container
		display flex
		flex-direction column
		justify-content center
		
	.social-nav
		margin auto
		margin-bottom 15px
		
		&__item
			margin-right 20px
			
		&__link
			.icon
				size(22px)
	
	.all-right
		margin auto
		color white
		opacity .5
		font-size rem(12)