header
	position relative
	background-color black
	height 60px
	.container
		height 100%	
		display flex
		align-items center
		justify-content space-between
.logo
	display flex
	align-items center
	&__link
		display block
	&__img
		max-width 175px
		width 100%
		display block

.main-nav
	height 100%
	&__list
		display flex
		height 100%
	&__link
		color white
		font-size rem(14)
		font-family semiboldFont
	&__item
		display flex
		justify-content center
		align-items center
		height 100%
		cursor pointer
		width 110px	
		
		&:last-child
			margin-right 0
		&:hover
			background-color orangeColor
		&--repair
			.main-nav__link
				margin-right 7px
			.icon
				size(10px)
				margin-top 4px
				fill white
	
.repair-nav
	display none
	position absolute
	width 100%
	opacity 0
	transition .3s ease-in-out
	top 100%
	left 0
	z-index 1
	background-color black
	
	&.is-active
		display block
		opacity 1
	&__list
		text-align left
		
	&__item
		padding 10px 10px
		white-space nowrap
		&:hover
			background-color orangeColor
	&__link
		display block
		color white