header
	background-color black
	height 60px
	.container
		position relative
		height 100%	
		display flex
		align-items center
		justify-content space-between
.logo
	display flex
	align-items center
	
	.icon
		fill white
		width 150px
		height 50px
		

.main-nav
	height 100%
	&__list
		display flex
		height 100%
	&__link
		color white
		font-size rem(14)
		font-family semiboldFont
	&__item
		display flex
		justify-content center
		align-items center
		cursor pointer
		width 110px	
		
		&:last-child
			margin-right 0
		&:hover
			background-color orangeColor
		&--repair
			.main-nav__link
				margin-right 7px
			.icon
				size(10px)
				margin-top 4px
				fill white
	
.repair-nav-wrapper
	display none
	position absolute
	width 100%
	opacity 0
	transition .3s ease-in-out
	top 100%
	left 0
	z-index -1
	background-color transparent
	display flex
	padding-top 7px
	
	&.is-active
		display flex
		opacity 1
		z-index 2

.repair-nav-inner	
	padding-top 10px
	background-color black
	flex-grow 2
	margin-right 7px	
	
	&:last-child
		flex-grow 1
		margin-right 0
		
.repair-nav	
	display flex
	justify-content space-between
	padding  15px 30px 10px 30px
	&__list
		text-align left
		
	&__title
		color darkGrayColor
		text-align center
		display block
		font-family boldFont
		
	&__item
		padding 0px 10px
		white-space nowrap
		display flex
		align-items center
		font-family semiboldFont
		.icon
			size(50px)
			margin-right 20px
			
	&__link
		display block
		color white
		transition all .1s ease-in-out
		&:hover
			color orangeColor
			
			.icon
				fill orangeColor
