header
	background-color black
	height 60px
	min-height 60px
	
	.container
		position relative
		height 100%	
		display flex
		align-items center
		justify-content space-between
		
.main-nav-wrapper
	display flex
	align-items center
	height 100%
	
	
	&.search-active
		display none
	
	&.is-animated
		animation search-nav-show .3s ease-in-out
		
.logo
	display flex
	align-items center
	margin-right 17px
		
	.icon
		fill white
		width 150px
		height 50px
		

.main-nav
	height 100%
	margin-right 10px
	
	&__list
		display flex
		height 100%
		
	&__link
		color white
		font-size rem(14)
		font-family semiboldFont
		width 100%
		height 100%
		display flex
		align-items center
		justify-content center
		
	&__item
		display flex
		justify-content center
		align-items center
		width 110px	
		transition .3s ease-in-out
		
		&:last-child
			margin-right 0
			
		&:hover
			background-color orangeColor
			
		&--repair
					
			.icon
				size(10px)
				margin-top 4px
				margin-left 7px
				fill white
	
.repair-nav-wrapper
	display none
	position absolute
	width 100%
	opacity 0
	transition .3s ease-in-out
	top 100%
	left 0
	z-index -1
	background-color transparent
	display flex
	padding-top 7px
	
	&.is-active
		display flex
		opacity 1
		z-index 2

.repair-nav-inner	
	padding-top 10px
	background-color black
	flex-grow 2
	margin-right 7px	
	
	&:last-child
		flex-grow 1
		margin-right 0
		
.repair-nav	
	display flex
	justify-content space-between
	padding  15px 30px 10px 30px
	&__list
		text-align left
		
	&__title
		color darkGrayColor
		text-align center
		display block
		font-family boldFont
		
	&__item
		padding 0px 10px
		white-space nowrap
		display flex
		align-items center
		font-family semiboldFont
		.icon
			size(50px)
			margin-right 20px
			
	&__link
		display block
		color white
		transition all .1s ease-in-out
		&:hover
			color orangeColor
			
			.icon
				fill orangeColor


.mobile-menu
	display none
	height 20px
	width 30px
	min-width 30px
	cursor pointer
	position relative
	margin-left 12px
	
	&__line
		position absolute
		height 3px 
		width 100%
		border-radius 10px
		background-color white
		transition .3s ease-in-out
	
		&--top
			top 0
		&--middle
			top 50%
			transform translateY(-50%)
		&--bottom
			bottom 0
			
	&.is-open
		
		.mobile-menu__line
			
			&--top
				top 50%
				transform translateY(-50%) rotate(45deg)
				
			&--middle
				top 50%
				transform translateY(-50%)
				opacity 0
				
			&--bottom
				top 50%
				transform translateY(-50%) rotate(-45deg)

.search
	height 100%
	display flex 
	align-items center
	cursor pointer
	transition all .1s ease-in-out
	max-width 122px
	width 100%
	border-left 1px solid darkGrayColor
	border-right 1px solid darkGrayColor
	padding 0 20px
	
	&.search-active
		max-width 100%
		
	&:hover
		
		.icon-search
			fill orangeColor
		
		.search__text
			color orangeColor
		
	.icon-search
		fill darkGrayColor
		min-width 20px
		width 45px
		height 20px
		min-height 20px
		margin-right 10px
		
		&.search-active
			fill orangeColor
			
	.cancel-wrapper	
		width auto
		height auto
			
		.icon-cancel
			size(25px)
			fill darkGrayColor
			display none	
			transition all .2 ease-in-out
			z-index 10
			
			&:hover
				fill white

			&.search-active
				display block
		

	&__input
		background none
		border none
		width 100%
		height 100%
		color white
		min-width 55px
		font-size rem(18)
		
	::-webkit-input-placeholder
		font-size rem(16)
		color darkGrayColor
		font-family boldFont
		font-weight 700
	::-moz-placeholder         
		color darkGrayColor
		font-family boldFont
		font-weight 700
	:-moz-placeholder           
		color darkGrayColor
		font-family boldFont
		font-weight 700
	:-ms-input-placeholder 
		color darkGrayColor
		font-family boldFont
		font-weight 700
		
@keyframes search-nav-show{
	0%, 50%{
		transform scale(0)
	}
	
	100% {
		transform scale(1)
	}
}