@font-face
	font-family OpenSans
	src url("../fonts/OpenSans.ttf")
	
@font-face
	font-family OpenSansSemibold
	src url("../fonts/OpenSansSemibold.ttf")
	
@font-face
	font-family OpenSansBold
	src url("../fonts/OpenSansBold.ttf")
	
@font-face
	font-family RalewayLight
	src url("../fonts/RalewayLight.ttf")	

@font-face
	font-family RalewayRegular
	src url("../fonts/RalewayRegular.ttf")
	
@font-face
	font-family RalewayBold
	src url("../fonts/RalewayBold.ttf")
	
	
