// ЦВЕТА

orangeColor  = #ff9b51
grayColor    = #f5f5f5


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ

mainFont     = "OpenSans", Arial, sans-serif
semiboldFont = "OpenSansSemibold", Arial, sans-serif
boldFont     = "OpesSansBold", Arial, sans-serif
lightFont    = "RalewayLight", Arial, sans-serif
titleFont    = "RalewayRegular", Arial, sans-serif