// ЦВЕТА

orangeColor      = #d06000
grayColor        = #f5f5f5
lightGrayColor   = #bdbdbd
lightOrangeColor = #ff9b51
darkGrayColor    = #949494


// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ

mainFont     = "OpenSans", Arial, sans-serif
semiboldFont = "OpenSansSemibold", Arial, sans-serif
boldFont     = "OpesSansBold", Arial, sans-serif
lightFont    = "RalewayLight", Arial, sans-serif
titleFont    = "RalewayRegular", Arial, sans-serif
ralboldFont  = "RalewayBold", Arial, sans-serif