section.entry
	.container
		img(src="static/img/content/entry-img.png", alt="Изображение").entryimg
		.entry-text
			.entry-text__title Вступление
			.entry-text__description А как вы думаете, может ли инструкция по эксплуатации автомобиля ответить на все возникающие у водителя вопросы? Мы с вами тоже согласны, — конечно, нет. А вопросов у автолюбителя  возникает масса, и хочется услышать на них ответы. Инструкции, безусловно, необходимы, но советы бывалых автомобилистов, которые знают ответы на любой вопрос – не менее важны.
			.about-entry
				.about-entry__title О чем будут наши советы:
				ul.about-entry__list
					li.about-entry__item 
						a(href="javascript:void(0);").about-entry__link
							.icon-inner
								+icon("spanner")
							|Подбор запчастей
					li.about-entry__item
						a(href="javascript:void(0);").about-entry__link 
							.icon-inner
								+icon("spanner")
							|Безопасное вождение
					li.about-entry__item
						a(href="javascript:void(0);").about-entry__link 
							.icon-inner
								+icon("spanner")
							|Советы новичкам