section.main-banner
		.container
			.info
				h1.info__title  Info#[span.info__title--selected Avto]24
				span.info__quote Советы автомобителям
				p.info__description На нашем сайте вы найдете много полезной и интересной информации как и об самих автомобилях, так и об уходе за ними. Вам больше не нужно платить за ремонт, мы поможем сделать вам его бесплатно.
				button.info-button Читать больше
			.advice
				.advice-text
					span.advice-text__title.advice-text__title--selected Бесплатная 
						span.advice-text__title консультация
				form.advice-form
					input(type="text" placeholder="Имя").advice-form__inpt.advice-form__inpt--name
					input(type="text" placeholder="Email").advice-form__inpt.advice-form__inpt--email
					input(type="text" placeholder="Телефон").advice-form__inpt.advice-form__inpt--tel
				button.advice-button Получить