// BANNER

.main-banner
	padding 80px 0
	background url("../img/content/main-banner.jpg")
	background-size cover
	background-position center center
	position relative
	border-bottom 5px solid darkGrayColor
	
	.container
		display flex
		align-items center
		justify-content space-between
		
.info
	max-width 540px
	width 100%
	display flex
	flex-direction column
	align-items flex-start
		
	&__title
		text-transform uppercase
		font-size rem(50)
		font-family ralboldFont
		font-weight 700
		margin-bottom 10px
		color white
		
		&--selected
			color orangeColor
			
	&__quote
		display block
		font-family titleFont
		font-size rem(36)
		color white
		text-transform uppercase
		text-shadow 0px 0px 10px black
		margin-bottom 30px
		
		&:after
			
			content ""
			display block
			margin-top 30px
			height 2px
			width 50px
			background-color white
	
	&__description
		color white
		font-weight 300
		line-height 23px
		font-family titleFont
		margin-bottom 30px
		text-shadow 0px 0px 10px black
		
.advice
	max-width 330px
	width 100%
	
.advice-text
	background-color grayColor
	border-top-left-radius 5px
	border-top-right-radius 5px
	text-align center
	padding 15px 0
	
	&__title
		display inline-block
		color black
		font-family boldFont
		font-weight 700
		font-size rem(20)
		
		&--selected
			color lightOrangeColor

.advice-form
	text-align center
	background-color white
	padding 30px 0 60px
	
	&__inpt
		max-width 285px
		min-width 250px
		margin-bottom 35px
		padding-left 10px
		border none
		box-shadow 0 1px 0 rgba(0, 0, 1, 0.16)
		font-size rem(15)
		padding-bottom 3px
		width 100%
		
		&:last-child
			margin-bottom 0
			
		&:focus::-webkit-input-placeholder
			color transparent
		&:focus::-moz-placeholder
			color transparent
		&:focus:-moz-placeholder
			color transparent
		&:focus:-ms-input-placeholder
			color transparent
			
	::-webkit-input-placeholder 
		color #cecece
	::-moz-placeholder         
		color #cecece
	:-moz-placeholder           
		color #cecece
	:-ms-input-placeholder 
		color #cecece

// SOCIAL

.social
	box-shadow 0 1px 3px rgba(0, 0, 0, 0.38)
	
	.container
		display flex
		justify-content space-between
		align-items center
		padding 20px 0

.social-text
	max-width 375px	
	width 100%
	
	&__title
		display block
		font-size rem(20)
		font-weight 700
		margin-bottom 10px
	
	&__description
		font-size rem(14)
		line-height 20px
		font-weight 400
		color darkGrayColor

.social-nav
	margin-right 40px
	
	&__list
		display flex
		align-items center
	&__item
		margin-right 40px
		
		&:last-child
			margin-right 0
			
	&__link
		display block
		.icon
			fill #ccc
			size(40px)
			transition .2s ease-in-out
			
			&:hover
				fill orangeColor
				


//CATEGORIES

.categories
	padding 100px 0
	
	.container
		display flex
		align-items center
		justify-content space-between

.categories-nav
	margin-right 100px
	
	&__item
		display flex
		justify-content center
		align-items center
		padding 35px 20px
		background-color blackColor
		white-space nowrap
		color white
		cursor pointer
		margin-bottom 1px
		font-size rem(15)
		font-weight 700
		
		&:last-child
			margin-bottom 0
			
		&.is-active
			transition .3s ease-in-out
			background-color #ff8c2d

.categories-tab
	width 100%

.tab-item
	display none
	justify-content space-between
	align-items center
	transition .3s ease-in-out
	
	&.is-active
		display flex
		
	&__img
		display block
		
		&--offset
			margin-right 40px

.tab-info
	max-width 480px
	width 100%
	margin-right 50px
	
	&__title
		font-size rem(20)
		font-weight 700
		font-family boldFont
		margin-bottom 50px
		
	&__description
		font-size rem(14)
		color darkGrayColor
		margin-bottom 50px
		
		&--offset
			display block
			margin-top 20px
		