section.categories
	.container
		.categories-nav
			ul.categories-nav__list
				li.categories-nav__item.is-active Раздел 1
				li.categories-nav__item Раздел 2
				li.categories-nav__item Раздел 3
				li.categories-nav__item Раздел 4
		.categories-tab
			.tab-item.is-active
				.tab-info
					h2.tab-info__title Ремонт подвески автомобиля
					p.tab-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
						span.tab-info__description--offset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					button.main-button Читать больше
				img(src="static/img/content/tab-suspension.png", alt="Ремонт подвески автомобиля").tab-item__img
			.tab-item
				.tab-info
					h2.tab-info__title Ремонт механической коробки передач
					p.tab-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
						span.tab-info__description--offset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					button.main-button Читать больше
				img(src="static/img/content/tab-transmission.png", alt="Ремонт механической коробки передач").tab-item__img
			.tab-item
				.tab-info
					h2.tab-info__title Ремонт тормозной системы
					p.tab-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
						span.tab-info__description--offset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					button.main-button Читать больше
				img(src="static/img/content/brake-system.png", alt="Ремонт тормозной системы").tab-item__img
			.tab-item
				.tab-info
					h2.tab-info__title Ремонт сцепления
					p.tab-info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
						span.tab-info__description--offset Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
					button.main-button Читать больше
				img(src="static/img/content/tab-clutch.png", alt="Ремонт сцепления").tab-item__img.tab-item__img--offset

