section.comment
	.container
		.comment-text.common-text
			span.comment-text__title.common-text__title Что говорят наши посетители
			span.comment-text__description.common-text__description В этом разделе вы можете прочитать что о нас думают наши посеттители
		.comment-items
			.comment-item
				span.comment-item__text.offset Если что-то сломалось - захожу на InfoAvto24. Спасибо вам за качественную информацию по ремонту всех моих автомобилей: бывших, нынешних и будущих. Только к Вам! 
				.comment-person
					img(src="static/img/content/person_1.png", alt="foto").comment-person__foto
					.person-text
						span.person-text__name Александр
						span.person-text__work Механик
			.comment-item
				span.comment-item__text Добрый день! Посетил несколько сайтов, хотел отрегулировать подвеску, и только здесь нашел то что искал. Всем советую! Сайту желаю процветания.
				.comment-person
					img(src="static/img/content/person_2.png", alt="foto").comment-person__foto
					.person-text
						span.person-text__name Евгений
						span.person-text__work Юрист
			.comment-item
				span.comment-item__text Поначалу сайт оказался скучноват, но когда разобрался что к чему - понял что ошибался. Много полезной информации о качественом ремонте, наших ВАЗов. Рекомендую!
				.comment-person
					img(src="static/img/content/person_3.png", alt="foto").comment-person__foto
					.person-text
						span.person-text__name Челик с завода
						span.person-text__work Алкаш

	