section.contact
	.container
		.contact-text.common-text
			span.contact-text__title.common-text__title Напишите нам
			span.contact-text__description.common-text__description Вы можете отправить нам сообщение с каким-нибудь пожеланием или предложением
		form.contact-form
			.form-info-inner
				.form-info
					input(type="text" placeholder="Ваше имя").form-info__name
					input(type="text" placeholder="Ваш email").form-info__email
					input(type="text" placeholder="Темя").form-info__topic
				textarea(placeholder="Сообщение").form-info__text
			button.tab-button Отправить