nav.main-nav
	ul.main-nav__list
		li.main-nav__item
			a.main-nav__link(href="#") Главная
		li.main-nav__item.main-nav__item--repair
			a.main-nav__link(href="#") Ремонт
				+icon("arrow_down")
			.repair-nav-wrapper
				.repair-nav-inner
					span.repair-nav__title Старые модели
					.repair-nav
						ul.repair-nav__list
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_2108")
									|ВАЗ 2108

							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_2111")
									|ВАЗ 2111
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_2114")
									|ВАЗ 2114
						ul.repair-nav__list
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_2109")
									|ВАЗ 2109
							li.repair-nav__item
								a.repair-nav__link(href="#")
									+icon("vaz_2112")
									|ВАЗ 2112
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_2115")
									|ВАЗ 2115
						ul.repair-nav__list
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_2110")
									|ВАЗ 2110
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_2113")
									|ВАЗ 2113

				.repair-nav-inner
					span.repair-nav__title Новые модели
					.repair-nav
						ul.repair-nav__list
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_granta")
									|ВАЗ GRANTA
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_largus")
									|ВАЗ LARGUS
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_vesta")
									|ВАЗ VESTA
						ul.repair-nav__list
							li.repair-nav__item
								a.repair-nav__link(href="#") 
									+icon("vaz_kalina")
									|ВАЗ KALINA
							li.repair-nav__item
								a.repair-nav__link(href="#")
									+icon("vaz_priora") 
									|ВАЗ PRIORA

		li.main-nav__item
			a.main-nav__link(href="advice.html") Советы
		li.main-nav__item
			a.main-nav__link(href="#") Отзывы
		li.main-nav__item
			a.main-nav__link(href="#") Контакты