section.social
		.container
			.social-text
				span.social-text__title Социальные сети
				span.social-text__description Присоединяйтесь к нашим социальным сетям, там вы сможете найти еще много полезной информации.
			.social-nav
				ul.social-nav__list
					li.social-nav__item
						a(href="#").social-nav__link.social-nav__link--vk
							+icon("vk")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("twitter")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("telegram")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("facebook")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("pinterest")
					li.social-nav__item
						a(href="#").social-nav__link
							+icon("instagram")