section.advantage
	.container
		.advantage-text
			span.advantage-text__title Почему именно наш сайт
			span.advantage-text__description Представляем вам 3 причины почему вы должны доверять нам
		.advantage-items
			.advantage-item
				.advantage-item__img
					+icon("light_bulb")
				span.advantage-item__title Экономите своё время!
				.advantage-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
			.advantage-item
				.advantage-item__img
					+icon("keyboard")
				span.advantage-item__title Решаете проблему с первого раза!
				.advantage-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
			.advantage-item
				.advantage-item__img
					+icon("lightning_bolt")
				span.advantage-item__title Бережете свои нервы!
				.advantage-item__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
