section.article
	.container
		.article-text.common-text
			span.article-text__title.common-text__title Популярные статьи
			span.article-text__description.common-text__description Представляем вашему внимания наиболее популярные статьи
		.article-items
			.artcle-item
				.article-head
					span.article-head__name Ваз 2110
					span.article-head__title Ремонт МКПП
					span.article-head__part Статьи раздела
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							+article("Наличие подтеков трансмиссионного масла")
							+article("Работоспособность подшипников как основных, так и игольчатых")
							+article("Состояние синхронизаторов и вилок выбора передач")
							+article("Выработка оси и шестерней сателлитов")
			.artcle-item
				.article-head.active
					span.article-head__name Ваз 2109
					span.article-head__title Ремонт подвески
					span.article-head__part Статьи раздела
					span.article-head__active Наиболее популярные
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							+article("Диагностика подвески автомобиля") 
							+article("Замена тормозных колодок,трубок, шлангов и суппортов")
							+article("Замена резиноуплотнительных элементов и ступичных подшипников")
							+article("Диагностика и регулировка подшипника ступицы")
			.artcle-item
				.article-head
					span.article-head__name Ваз Piora
					span.article-head__title Ремонт cцепления
					span.article-head__part Статьи раздела
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							+article("Ремонт главного цилиндра сцепления")
							+article("Ремонт главного цилиндра сцепления")
							+article("Признаки износа и поломки сцепления")
							+article("Замена и ремонт ведомого диска")
