section.article
	.container
		.article-text.common-text
			span.article-text__title.common-text__title Популярные статьи
			span.article-text__description.common-text__description Представляем вашему внимания наиболее популярные статьи
		.article-items
			.artcle-item
				.article-head
					span.article-head__name Ваз 2110
					span.article-head__title Ремонт МКПП
					span.article-head__part Статьи раздела
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							li
								a.article-nav__link(href="javascript:void(0);" title="Наличие подтеков трансмиссионного масла") Наличие подтеков трансмиссионного масла
							li
								a.article-nav__link(href="javascript:void(0);" title="Работоспособность подшипников как основных, так и игольчатых") Работоспособность подшипников как основных, так и игольчатых
							li
								a.article-nav__link(href="javascript:void(0);" title="Состояние синхронизаторов и вилок выбора передач") Состояние синхронизаторов и вилок выбора передач
							li
								a.article-nav__link(href="javascript:void(0);" title="Выработка оси и шестерней сателлитов") Выработка оси и шестерней сателлитов
			.artcle-item
				.article-head.active
					span.article-head__name Ваз 2109
					span.article-head__title Ремонт подвески
					span.article-head__part Статьи раздела
					span.article-head__active Наиболее популярные
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							li
								a.article-nav__link(href="javascript:void(0);" title="Диагностика подвески автомобиля") Диагностика подвески автомобиля
							li
								a.article-nav__link(href="javascript:void(0);" title="Замена тормозных колодок,трубок, шлангов и суппортов") Замена тормозных колодок,трубок, шлангов и суппортов
							li
								a.article-nav__link(href="javascript:void(0);" title="Замена резиноуплотнительных элементов и ступичных подшипников") Замена резиноуплотнительных элементов и ступичных подшипников
							li
								a.article-nav__link(href="javascript:void(0);" title="Диагностика и регулировка подшипника ступицы") Диагностика и регулировка подшипника ступицы
			.artcle-item
				.article-head
					span.article-head__name Ваз Piora
					span.article-head__title Ремонт cцепления
					span.article-head__part Статьи раздела
				.article-bot
					nav.article-nav
						ul.acticle-nav__list
							li
								a.article-nav__link(href="javascript:void(0);" title="Ремонт главного цилиндра сцепления") Ремонт главного цилиндра сцепления
							li
								a.article-nav__link(href="javascript:void(0);" title="Ремонт главного цилиндра сцепления") Ремонт главного цилиндра сцепления
							li
								a.article-nav__link(href="javascript:void(0);" title="Признаки износа и поломки сцепления") Признаки износа и поломки сцепления
							li
								a.article-nav__link(href="javascript:void(0);" title="Замена и ремонт ведомого диска") Замена и ремонт ведомого диска
