section.feedback
	.container
		.feedback-text.common-text
			span.feedback-text__title.common-text__title Оставьте свой отзыв
			span.feedback-text__description.common-text__description Вы можете оставить отзыв о своих впечетлениях на данном сайте
		button.info-button Оставить отзыв