footer
	.container
		.social-nav
			ul.social-nav__list
				li.social-nav__item
					a(href="#").social-nav__link
						+icon("vk")
				li.social-nav__item
					a(href="#").social-nav__link
						+icon("twitter")
				li.social-nav__item
					a(href="#").social-nav__link
						+icon("telegram")
				li.social-nav__item
					a(href="#").social-nav__link
						+icon("facebook")
				li.social-nav__item
					a(href="#").social-nav__link
						+icon("pinterest")
				li.social-nav__item
					a(href="#").social-nav__link
						+icon("instagram") 
		span.all-right © 2018 INFOAVTO24. Все права защищены.
