header
	.container
		.logo
			a(href="index.html").logo__link
				+icon("logo")
		.main-nav-wrapper
			include menu
		
		.search
			+icon("search")
			input(type="text" placeholder="Поиск").search__input
			+icon("cancel")
		.mobile-menu
			.mobile-menu__line.mobile-menu__line--top
			.mobile-menu__line.mobile-menu__line--middle
			.mobile-menu__line.mobile-menu__line--bottom